<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>My Vue App</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <a class="to_top" href="../index.html">index.htmlへ</a>
    <div id="app" class="container">
      <h1>
        <button @click="purge">Purge</button>
        My Todos
        <span class="info" >({{ remaining.length }}/{{ todos.length }})</span>
      </h1>
      <ul>
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <span :class="{done: todo.isDone}">{{ todo.title }}</span>
          <span @click="deleteItem(index)" class="command">[x]</span>
        </li>
        <li v-if="!todos.length">Nothing to do today. Have a nice day!</li>
      </ul>
      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem">
        <input type="submit" value="Add">
      </form>
      <like-compornent message="Great" @increment="incrementTotal"></like-compornent>
      <like-compornent message="Awesome" @increment="incrementTotal"></like-compornent>
      <like-compornent @increment="incrementTotal"></like-compornent>
      <p>Total Likes: {{ total }}</p>
    </div><!-- //#app -->

    <div id="vue_area">
      <p>Counter: {{ counter }}</p>      
    </div><!-- //#vue_area -->

    <div id="event-handling">
      <p>{{ message }}</p>
      <button @click="reverseMessage">Reverse Message</button>
    </div><!-- //#event-handling -->

    <div id="two-way-binding">
      <p>{{ message }}</p>
      <input v-model="message">
    </div><!-- two-way-binding -->

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/vue.js"></script>
    <!-- <script src="js/main.js"></script> -->
  </body>
</html>